<h1>Email de confirmation</h1>

<p>
	Veuillez confirmer votre email en cliquant sur le lien ci-dessous:
	<br><br>
	<a href="{{ url('auth_verify_email', {"tokenVerification": token}) }}">Confirmer mon email</a>
</p>
