<h1>Réinitialiser votre mot de passe</h1>

<p>
	Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe
	<br><br>
	<a href="{{ url('auth_reset_password', {"tokenForgotPassword": token}) }}">Réinitialiser mon mot de passe</a>
</p>
