<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Snowtricks
			{% endblock %}
		</title>
		<script defer src="/script.js"></script>
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		{% block body %}{% endblock %}
	</body>
</html>
