<nav>
	<a href="/">Accueil</a>

	<ul>
		<li>
			<a href="{{ path("security_logout") }}">Logout</a>
		</li>
		<li>
			<a href="#">Inscription</a>
		</li>
        <li>
		    <a href="{{ path("security_login") }}">Login</a>
        </li>
	</ul>
</nav>
