{% extends "base.html.twig" %}

{% block title %}
	Modification d'un trick
{% endblock %}

{% block body %}

	<h1>Modifier un trick</h1>

	{{ form_start(trickForm) }}

	{{ include("trick/_form.html.twig", {trickForm: trickForm}) }}


	<div>
		<button type="submit">Modifier</button>
	</div>

	{{ form_end(trickForm, {render_rest: false}) }}


{% endblock %}
